<div *ngIf="selectedQuestion">
  <h3>{{selectedQuestion.description}}</h3>
  <p>Answer the question {{selectedQuestion.answer}}</p>
  <h3>Edit Question</h3>
  <label>Enter Task Description:</label>
  <input [(ngModel)]="selectedQuestion.answer">
  <label>Was this helpful?</label>
  <br>
  <input type="radio" [(ngModel)]="selectedTask.priority" [value]="1">1 (Low Priority)<br>
  <input type="radio" [(ngModel)]="selectedTask.priority" [value]="2">2 (Medium Priority)<br>
  <input type="radio" [(ngModel)]="selectedTask.priority" [value]="3">3 (High Priority)
  <button (click)="finishedEditing()">Done</button>
</div>
